In [75]:
#1)
test1 = 'This is a test of the emergency text system'
len(test1)

43

In [ ]:
outfile = open('test.txt', 'wt') 
outfile.write(test1)
outfile.close()

In [ ]:
with open('test.txt', 'wt') as outfile:
    outfile.write(test1)

In [ ]:
with open('test.txt', 'rt') as infile: 
    test2 = infile.read()

In [ ]:
#2)
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
. Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [ ]:
#3)
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')
db.commit()

In [ ]:
#4)
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)

In [ ]:
#5)
for row in db.execute('select * from book order by year'): 
    print(*row, sep=', ')

In [ ]:
#6)
import redis 
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test'){b'name': b'Fester Bestertester', b'count': b'1'}