In [ ]:
1)Create a list called years_list, starting with the year of your birth, 
and each year thereafter until the year of your fifth birthday. For example, 
if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
years_list = [1980, 1981, 1982, 1983, 1984, 1985]

In [ ]:
2)In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [4]:
years_list[3]

1983

In [ ]:
3)In the years list, which year were you the oldest?

In [7]:
years_list[-1]

1985

In [9]:
#4)
things=['mozzarella','cinderella','salmonella']

In [10]:
things

['mozzarella', 'cinderella', 'salmonella']

In [12]:
#5)
new_list=things.copy()
new_list

['mozzarella', 'cinderella', 'salmonella']

In [16]:
new_list[1].capitalize()

'Cinderella'

In [17]:
#6)
things= [element.upper() for element in things];
print(things)

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

In [19]:
#7)
surprise=['Groucho','Chico','Harpo']

In [20]:
surprise

['Groucho', 'Chico', 'Harpo']

In [24]:
#8)
surprise= [element.lower() for element in surprise]
surprise
surprise[::-1]

['harpo', 'chico', 'groucho']

In [26]:
#9)
surprise= [element.capitalize() for element in surprise]
surprise

['Groucho', 'Chico', 'Harpo']

In [27]:
#10)
e2f={"dog":"chien","cat":"chat","walrus":"morse"}

In [28]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [36]:
#11)
e2f["walrus"]

'morse'

In [39]:
#12)
f2e={}
for english,french in e2f.items():
    f2e[french]=english
    f2e

In [40]:
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [41]:
#13)
f2e["chien"]

'dog'

In [44]:
#14)
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [45]:
#15)
life = { 'animals' : { 'cats' : [ 'Henri', 'Grumpy', 'Lucy' ], 
                      'octopi' : {}, 'emus' : {}  }, 
        'plants' : {}, 'other' : {} }

In [46]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [47]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

In [48]:
life['animals']

{'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}

In [49]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']